html {
  scroll-behavior: smooth;
}

:root {
  --background-gray-1: #e0e0e0;
  --background-gray-2: #777777;
  --background-gray-3: #555555;
  --background-gray-4: #272829;
}

.bg-1 {
  background: var(--background-gray-1);
}
.bg-2 {
  background: var(--background-gray-2);
}
.bg-3 {
  background: var(--background-gray-3);
}
.bg-4 {
  background: var(--background-gray-4);
}

.color-1 {
  color: var(--background-gray-1);
}
.color-2 {
  color: var(--background-gray-2);
}
.color-3 {
  color: var(--background-gray-3);
}
.color-4 {
  color: var(--background-gray-4);
}

.hoverLink {
  display: inline-block;
  transition: all 0.5s ease-in-out;
}

.hoverLink:hover {
  transform: scale(1.1) translateY(-5px);
}

.hoverLink-2 {
  display: inline-block;
  transition: all 0.5s ease-in-out;
}

.hoverLink-2:hover {
  transform: scale(1.1) translateY(-2px);
}

.pieChartImg {
  transform-origin: 0% 0%;
  cursor: pointer;
}

#pieChart-1:hover {
  transform: scale(0.27);
  transform-origin: 35% 0%;
  z-index: 99;
}
#pieChart-2:hover {
  transform-origin: 0% 10%;
  transform: scale(0.27);
  z-index: 99;
}
#pieChart-3:hover {
  transform-origin: 70% 10%;
  transform: scale(0.27);
  z-index: 99;
}

.roundBorder {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}

.roundBorder::after{
  content: '';
  position: absolute;
  height: 80%;
  width: 80%;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
}

